*, *::before, *::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 100%;
}

body {
	background-color: white;
	background-size: cover;
	font-family: 'Space Mono', monospace;
	min-height: 100%;
}

.name {
	color: grey;
}

.header {
	border-bottom: 2px solid grey;
}

.name {

}

.side-bar {
	position: absolute;
	height: 100%;
	padding-left: 100px;
	border-right: 2px solid grey;
}

.ion-plus {
	color: grey;
}

.chat-room-name {
	color: grey;
}

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background-color: grey;
}